.main_container_pokemon_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100%;
  flex: 5;
  margin: 10px;
}

@media (max-width: 500px) {
  .main_container_pokemon_list {
    justify-content: center;
  }
}

.skeleton_container {
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  width: 300px;
  height: 330px;
  padding: 5px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #d8d8d8;
}

.no_pokemons {
  height: 365px;
  display: flex;
  justify-content: center;
  padding-top: 10%;
  font-weight: 601;
  font-size: 20px;
  box-sizing: border-box;
}
