.main_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100%;
  flex: 5;
  margin: 10px;
}

@media (max-width: 500px) {
  .main_container {
    justify-content: center;
  }
}
