.page_container_page_list {
  display: flex;
}

.page_main_container_page_list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.number_page_list {
  padding: 7px;
  font-size: 17px;
}
.number_page_list:hover {
  cursor: pointer;
}

.currentPage {
  background-color: #3584e4;
}
.currentPage:hover {
  cursor: text;
}
