.card_container_cart_card {
  display: flex;
  background-color: white;
  border-bottom: 3px solid #f4f5f9;
}

.main_container_cart {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: #f4f5f9;
}
.pokemon_container_cart {
  margin: 2%;
  width: 96%;
  border-radius: 3px;
}

.card_container_cart_card {
  display: flex;
}
.image_cart {
  flex: 1;
}
.name_cart_card {
  flex: 3;
  font-weight: 501;
  padding-top: 15px;
  font-size: 15;
}
.price_cart_card {
  padding-top: 15px;
  flex: 1;
}
.remove_cart_card {
  padding-top: 15px;
  flex: 1;
}
.header_cart {
  display: flex;
}
.header_image_cart {
  flex: 1;
}
.header_name_cart {
  flex: 3;
}
.header_price_cart {
  flex: 1;
}

.header_title_cart {
  margin-right: 0;
  display: inline-block;
  cursor: pointer;
  font-weight: 601;
  font-size: 15;
}

.header_remove_button_cart {
  flex: 1;
}

.toggle_values_header {
  height: 38px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.empty_message_cart_list {
}

.checkout_price_cart {
  display: flex;
  align-items: center;
  margin: 2%;
  width: 96%;
  padding-left: 58%;
}
@media (max-width: 700px) {
  .checkout_price_cart {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
  }
}

.checkout_price_cart p {
  font-weight: 601;
  font-size: 20px;
  display: inline-block;
}

.proceed_button_cart {
  display: flex;
  padding: 6px;
  margin-left: 10px;
  background-color: #00e64d;
  border-radius: 5px;
  width: 15%;
  height: 23px;
  justify-content: center;
  text-align: center;
  font-weight: 601;
  color: white;
  min-width: 160px;
}

.proceed_button_cart:hover {
  background-color: gray;
}

.bin_icon_cart {
  cursor: pointer;
}

.bin_icon_cart:hover {
  color: #3584e4;
}

.empty_message_cart_list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 601;
  font-size: 20px;
  margin-top: 40px;
}
