.toggle_container_pokemondetails {
  width: 250px;
  border-radius: 10px;
}
.image_gender_pokemondetails {
  display: inline-block;
  padding: 10px;
  width: 40%;
  text-align: center;
}

.active_pokemondetails {
  background-color: #787878;
}
.inactive_pokemondetails {
  background-color: #c8c8c8;
  cursor: pointer;
}

.main_container_stats_card {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 5px;
  width: 25%;
  margin: 5px;
  margin-left: 20px;

  justify-content: center;
}

.main_container_stats_card div {
  flex: 1 0 100%;
  text-align: center;
}
.main_container_stats_list {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.add_button_pokemondetails {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 4px;
  background-color: #00e64d;
  border-radius: 5px;
  width: 90%;
  text-align: center;
  font-weight: bold;
  color: white;
}

.delete_button_pokemondetails {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 4px;
  background-color: #e64d00;
  border-radius: 5px;
  width: 90%;
  text-align: center;
  font-weight: bold;
  color: white;
}
.add_button_pokemondetails :hover {
  background-color: #00b23b;
}

.delete_button_pokemondetails :hover {
  background-color: #b23b00;
}

.main_container_image_list {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.image_card_image_list {
  margin: 4px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: #d1d8e3;
}

.image_card_image_list:hover {
  border-color: #a1a8b3;
}

.focused_image_list {
  border-color: #a1a8b3;
}

.small_image_image_list {
  width: 100px;
  height: 100px;
}

.main_image_pokemondetails {
  width: 450px;
  height: 450px;
}
