.main_container_popup_message {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  color: white;
  height: 60px;
  background-color: #00e64d;
  font-weight: bold;
}

.go_to_cart_popup_message {
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: white;

  padding: 1px 3px 1px 3px;
  border: solid white;
  border-width: 2px;
  position: absolute;
  left: 90%;
  color: white;
  text-decoration: none;
}

.go_to_cart_popup_message:hover {
}

.positive_popup_message {
  background-color: #00e64d;
}
.negative_popup_message {
  background-color: #e64d00;
}

.show_popup_message {
  top: 0;
  visibility: visible;
  transition: 300ms;
}

.hide_popup_message {
  top: -50px;
  visibility: hidden;
  transition: 300ms;
}
